<pool type='dir'>
  <name>default</name>
  <source>
  </source>
  <target>
    <path>{{ images_dir }}</path>
    <permissions>
      <mode>0711</mode>
      <owner>0</owner>
      <group>0</group>
      <label>system_u:object_r:virt_image_t:s0</label>
    </permissions>
  </target>
</pool>
