- name: Check repo_root_path is defined
  assert:
    that:
      - repo_root_path is defined
    fail_msg: repo_root_path is required for all playbooks to function correctly
  changed_when: False

- name: Check kubeadmin_vault_password_file_path is defined and the file exists
  assert:
    that:
      - kubeadmin_vault_password_file_path is defined
      - kubeadmin_vault_password_file_path is file
    fail_msg: "Kubeadmin Vault password must be stored in the location specified by the required variable 'kubeadmin_vault_password_file_path'."
  changed_when: False
