imageContentSources:
- mirrors:
  - {{ mirror_registry }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ mirror_registry }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - {{ mirror_registry }}/ocpmetal
  source: quay.io/ocpmetal
additionalTrustBundle: |
{{ mirror_certificate.split("\n") | map("regex_replace", "^(?!\s{4})", "    ") | list | join("\n") }}
sshKey: {{ ssh_public_key }}
