all:
  vars:
    openshift_full_version: {{ item.template.openshift_full_version | default('4.10.67') }}
  children:
    services:
      hosts:
        registry_host:
          {% if item.template.include_var_registry_http_secret | default(true) %}
          REGISTRY_HTTP_SECRET: {{ item.template.registry_http_secret | default("http_secret") }}
          {% endif %}
          {% if item.template.include_var_disconnected_registry_user | default(true) %}
          disconnected_registry_user: {{ item.template.disconnected_registry_user | default("registry_user_secret") }}
          {% endif %}
          {% if item.template.include_var_disconnected_registry_password | default(true) %}
          disconnected_registry_password: {{ item.template.disconnected_registry_password | default("registry_user_password") }}
          {% endif %}
    nodes:
      vars:
        {% if item.template.include_nodes_vars_bmc_credentials | default(true) %}
        bmc_user: "nodes_vars_bmc_user"
        bmc_password: "nodes_vars_bmc_password"
        {% endif %}
      children:
        masters:
          vars:
            role: master
          hosts:
            super1:
              {% if item.template.include_super1_custom_bmc_credentials | default(true) %}
              bmc_user: "super1_bmc_user"
              bmc_password: "super1_bmc_password"
              {% endif %}
            super2:
            super3:
        workers:
          vars:
            role: worker
          hosts:
            worker1:
              {% if item.template.include_worker1_custom_bmc_credentials | default(true) %}
              bmc_user: "worker1_bmc_user"
              bmc_password: "worker1_bmc_password"
              {% endif %}
            worker2:
