.DS_Store
*.txt
!requirements.txt
!test-requirements.txt
!bindep.txt
*.pub
__stuff/**
.history/
.vscode
te?mp
logs?
*.swp
*.pyc
inventory.yml
*.vault.yml
*.vault.yaml
fetched/

tests/validate_inventory/failed
