# {{ ansible_managed }}
driftfile /var/lib/chrony/drift
bindcmdaddress {{ ntp_server }}
bindcmdaddress 127.0.0.1
bindcmdaddress ::1
keyfile /etc/chrony.keys
local stratum 10
rtcsync
makestep 1.0 3
manual
{% if enable_logging %}
logdir /var/log/chrony
log measurements statistics tracking
{% endif %}
allow 127.0.0.1
{% if ntp_server_allow %}
allow {{ ntp_server_allow }}
{% endif %}
server 127.0.0.1
{% for item in ntp_pool_servers %}
server {{ item }}
{% endfor %}

