#jinja2:trim_blocks: True, lstrip_blocks: True
apiVersion: v1alpha1
kind: AgentConfig
rendezvousIP: {{ hostvars[agent_based_installer_bootstrap_node][host_ip_keyword] }}
hosts:
{% for hostname, network_config in static_network_config.items() %}
  - role: {{ hostvars[hostname]['role'] }}
    hostname: {{ hostname }}
    interfaces:
      - name: {{ network_config.mac_interface_map[0].logical_nic_name }}
        macAddress: {{ network_config.mac_interface_map[0].mac_address }}
    networkConfig:
      {{ network_config.network_yaml | indent(6) }}
  {% if hostvars[hostname]['installation_disk_path'] is defined %}
    rootDeviceHints:
      deviceName: {{ hostvars[hostname]['installation_disk_path'] }}
  {% endif %}
{% endfor %}
