imageContentSources:
  - source: quay.io/openshift-release-dev/ocp-release
    mirrors:
      - {{ mirror_registry }}/ocp4/openshift4
  - source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
    mirrors:
      - {{ mirror_registry }}/ocp4/openshift4
  - source: quay.io/edge-infrastructure
    mirrors:
      - {{ mirror_registry }}/ocpmetal
  - source: quay.io/edge-infrastructure
    mirrors:
      - {{ mirror_registry }}/edge-infrastructure
additionalTrustBundle: |
  {{ mirror_certificate | indent(2) }}
