#!/bin/bash

# Hacky way of grabbing mac addresses 
mac_addresses=$(cat /sys/class/net/*/address)

# Set hostname based on the mac address
{% for hostname in groups['nodes']  %}
if (echo $mac_addresses | grep -i {{ hostvars[hostname]['mac'] }}) 
then
    echo {{ hostname }}.{{ cluster_name }}.{{ base_dns_domain }} > /etc/hostname
    echo {{ hostname }}.{{ cluster_name }}.{{ base_dns_domain }} > /proc/sys/kernel/hostname
    touch /home/core/set-hostname.done
fi
{% endfor %}

exit 0
