---
- name: Populate Mirror with images required for installation
  become: true
  tags:
    - mirror_images
    - mirror_installation_images
  block:
    - name: Create podman auth dir
      file:
        path: "{{ config_file_path }}/containers/"
        state: directory
        mode: 0755

    - name: Copy pull_secrets file.
      copy:
        src: "{{ config_file_path }}/{{ pull_secret_file_name }}"
        dest: "{{ config_file_path }}/containers/auth.json"
        mode: 0644
        remote_src: yes

    - name: Podman login to remote registry
      containers.podman.podman_login_info:
        registry: "registry.redhat.io"
      environment:
        XDG_RUNTIME_DIR: "{{ config_file_path }}"

    - name: Mirror remote ocpmetal image registry to local
      command:
        cmd: >
          /usr/local/bin/oc image mirror
            -a "{{ config_file_path }}/{{ pull_secret_file_name }}"
            {{ item.remote }}
            {{ item.local }}:{{ item.local_tag }}
      loop: "{{ ocpmetal_images }}"

    - name: Mirror remote registry to local
      command:
        cmd: >
          /usr/local/bin/oc adm release mirror
            -a "{{ config_file_path }}/{{ pull_secret_file_name }}"
            --from="{{ release_image_item.remote | quote }}"
            --to-release-image="{{ release_image_item.local | quote }}:{{ release_image_item.local_tag | quote }}"
            --to="{{ release_image_item.local | quote }}"

- name: Populate Mirror  with operators
  become: true
  tags:
    - mirror_images
    - mirror_operators 
  when: populate_operator_catalog | bool
  block:
    - name: Build pruned OLM index
      command:
        cmd: >
          /usr/local/bin/opm index prune 
            --from-index "{{ olm_index_item.remote }}"
            --packages "{{ mirror_packages | join(',') }}"
            --tag "{{ olm_index_item.local }}:{{ olm_index_item.local_tag }}"
      environment:
        XDG_RUNTIME_DIR: "{{ config_file_path }}"

    - name: Push pruned index to local registry
      command:
        cmd: >
          podman push 
            --tls-verify=false
            {{ olm_index_item.local }}:{{ olm_index_item.local_tag }}
            --authfile "{{ config_file_path }}/{{ pull_secret_file_name }}"

    - name: Mirror Catalog to local registry 
      command:
        cmd: >
          oc adm catalog mirror 
            {{ olm_index_item.local }}:{{ olm_index_item.local_tag }}
            {{ olm_item.local }}:{{ olm_item.local_tag }}
            --registry-config="{{ config_file_path }}/{{ pull_secret_file_name }}"
