---
- name: Make sure needed packages are installed
  package:
    name: tar
    state: present
  become: true

- name: Create download dirs
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ file_owner }}"
    group: "{{ file_group }}"
    mode: 0755
    state: directory
  loop:
    - "{{ downloads_path }}"
    - "{{ downloads_path }}/{{ openshift_full_version }}"

- name: Setup Version/Image facts
  block:
    - name: Get Release.txt File
      uri:
        url: "{{ release_url }}/{{ openshift_full_version }}/release.txt"
        return_content: yes
      register: result
      until: result.status == 200
      retries: 6 # 1 minute (10 * 6)
      delay: 10 # Every 10 seconds
      failed_when: result.content|length == 0 or result.status >= 400

    - name: Set Fact for Release Image
      set_fact:
        release_version: "{{ result.content | regex_search('Version:.*') | regex_replace('Version:\\s*(.*)', '\\1') }}"
        release_image: "{{ result.content | regex_search('Pull From:.*') | regex_replace('Pull From:\\s*(.*)', '\\1') }}"

- name: Install oc
  block:
    - name: Check if oc tarball has been previously downloaded
      stat:
        path: "{{ downloads_path }}/{{ openshift_full_version }}/{{ oc_tar }}"
      register: downloaded_oc_tar

    - name: Download oc tarball
      get_url:
        url: "{{ release_url }}/{{ openshift_full_version }}/{{ oc_tar }}"
        dest: "{{ downloads_path }}/{{ openshift_full_version }}/"
        force: "{{ force }}"
        mode: 0664
      when:
        - not downloaded_oc_tar.stat.exists

    - name: Check if oc binary has been extracted
      stat:
        path: "{{ downloads_path }}/{{ openshift_full_version }}/oc"
      register: extracted_oc

    - name: Extract oc binary
      unarchive:
        src: "{{ downloads_path }}/{{ openshift_full_version }}/{{ oc_tar }}"
        dest: "{{ downloads_path }}/{{ openshift_full_version }}/"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        remote_src: yes
      become: true
      when:
        - not extracted_oc.stat.exists

    - name: Copy binary to /usr/local/bin
      copy:
        src: "{{ downloads_path }}/{{ openshift_full_version }}/{{ item }}"
        dest: "/usr/local/bin/{{ item }}"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: 0775
        remote_src: yes
      become: true
      with_items:
        - kubectl
        - oc

    - name: Check binary installed
      command: 
        cmd: "/usr/local/bin/{{ item }} help"
      with_items:
        - kubectl
        - oc

  tags:
    - create_registry
    - fetch_oc

- name: Install opm
  block:
    - name: Check if opm tarball has been previously downloaded
      stat:
        path: "{{ downloads_path }}/{{ openshift_full_version }}/{{ opm_tar }}"
      register: downloaded_opm_tar

    - name: Download opm tarball
      get_url:
        url: "{{ release_url }}/{{ openshift_full_version }}/{{ opm_tar }}"
        dest: "{{ downloads_path }}/{{ openshift_full_version }}/"
        mode: 0664
      when:
        - not downloaded_opm_tar.stat.exists

    - name: Check if opm binary has been extracted
      stat:
        path: "{{ downloads_path }}/{{ openshift_full_version }}/opm"
      register: extracted_opm

    - name: Extract binary
      unarchive:
        src: "{{ downloads_path }}/{{ openshift_full_version }}/{{ opm_tar }}"
        dest: "{{ downloads_path }}/{{ openshift_full_version }}"
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        remote_src: yes
      become: true
      when:
        - not extracted_opm.stat.exists

    - name: Copy opm to /usr/local/bin
      copy:
        src: "{{ downloads_path }}/{{ openshift_full_version }}/opm"
        dest: /usr/local/bin/opm
        owner: "{{ file_owner }}"
        group: "{{ file_group }}"
        mode: 0775
        remote_src: yes
      become: true

    - name: Check opm installed
      command:  
        cmd: /usr/local/bin/opm version
  tags:
    - create_registry
    - fetch_opm
