apiVersion: v1
kind: ConfigMap
metadata:
  name: config
data:
  ASSISTED_SERVICE_HOST: "{{ assisted_service_host }}:8090"
  IMAGE_SERVICE_BASE_URL: http://{{ image_service_host }}:8888
  SERVICE_BASE_URL: "http://{{ assisted_service_host }}:8090"
  ASSISTED_SERVICE_SCHEME: http
  AUTH_TYPE: none
  DB_HOST: 127.0.0.1
  DB_NAME: installer
  DB_PASS: admin
  DB_PORT: "5432"
  DB_USER: admin
  DEPLOY_TARGET: onprem
  DISK_ENCRYPTION_SUPPORT: "true"
  DUMMY_IGNITION: "false"
  ENABLE_SINGLE_NODE_DNSMASQ: "true"
  HW_VALIDATOR_REQUIREMENTS: {{ assisted_installer_hardware_validation | to_json | quote}}
  IPV6_SUPPORT: "true"
  LISTEN_PORT: "8888"
  NTP_DEFAULT_SERVER: ""
  OS_IMAGES: {{ assisted_installer_os_images | to_json | quote }}
  POSTGRESQL_DATABASE: installer
  POSTGRESQL_PASSWORD: admin
  POSTGRESQL_USER: admin
  PUBLIC_CONTAINER_REGISTRIES: 'quay.io'
  RELEASE_IMAGES: {{ assisted_installer_release_images | to_json | quote }}
  STORAGE: filesystem
  SELF_VERSION: {{ assisted_service_image }}
  INSTALLER_IMAGE: {{ assisted_service_installer_image }}
  CONTROLLER_IMAGE: {{ assisted_service_controller_image }}
  AGENT_DOCKER_IMAGE: {{ assisted_service_installer_agent_image }}
