---
# file: boot_disk.yml

- name: Unmounting Assisted Installer Discovery ISO
  hosts: bastion
  gather_facts: False
  roles:
    - boot_disk
  vars:
    - debug: True
    - CLUSTER_ID: "{{ cluster_id }}"
    - ASSISTED_INSTALLER_HOST: "{{ hostvars['assisted_installer']['host'] }}"
    - ASSISTED_INSTALLER_PORT: "{{ hostvars['assisted_installer']['port'] }}"
