---
- name: Applying Nmstate
  become: true
  block:
    - name: Install nmstate
      package:
        name: nmstate
        state: present

    - name: "Copy rendered_nmstate_yml to {{ vm_nmstate_config_path }}"
      copy:
        content: "{{ rendered_nmstate_yml }}"
        dest: "{{ vm_nmstate_config_path }}"
        mode: 0644
      # No commit is done to revert the changes if they cause the host to be come unreachable

    - name: Apply nmstate
      shell:
        cmd: "nmstatectl apply --no-commit --timeout 120 {{ vm_nmstate_config_path }}"
      async: 60
      poll: 5

    - name: Commit changes
      shell:
        cmd: "nmstatectl commit"
