name: Ansible Lint

on:
  push:
    branches: 
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('**/requirements.txt') }}

      - name: Install required dependencies
        run: |
          pip install ansible-lint ansible==2.9
          pip install -r requirements.txt

      - name: Run ansible Lint
        run: |
          ansible-lint --exclude .github/ -v
