name: Crucible tests

on: [push, pull_request]

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('**/requirements.txt') }}

      - name: Install required dependencies
        run: |
          pip install ansible
          pip install -r requirements.txt

      - name: Run all tests using Ansible
        run: ansible-playbook tests/run_tests.yml
